.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Sombra para dar profundidad */
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-title {
    color: #333;
  }
  
  .modal-body {
    margin-top: 20px;
    max-height: 400px; /* Altura máxima para el cuerpo del modal */
    overflow-y: auto; /* Habilita el scroll si el contenido excede la altura máxima */
    /* ... tus estilos existentes ... */
  }
.colorNombre {
    color: rgb(130, 149, 101);
}

.mensaje {
  position: relative;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave para cada mensaje */
  /* ... tus estilos existentes ... */
  margin-bottom: 15px;
  padding: 10px;
  border-left: 3px solid #007bff; /* Color para preguntas */
  background-color: #f8f9fa;
}

.mensaje-respuesta {
  background-color: #e9ecef; /* Un fondo ligeramente diferente para respuestas */
  border-color: #28a745; /* Color para respuestas */
  position: relative;
  border-left-color: #28a745; /* Cambia el color de la barra izquierda para respuestas */
}

.mensaje p {
  margin: 5px 0;
}

.btn-responder {
  margin-top: 10px;
  display: block; /* Asegura que el botón ocupe su propia línea */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave para el efecto hover */
}

.btn-responder:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el ratón por encima */
}

.respuesta {
  margin-top: 15px;
}

.textarea-respuesta {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  height: 100px; /* Altura fija para el área de texto */
}

.btn-enviar-respuesta {
  margin-top: 10px;
  display: block; /* Asegura que el botón ocupe su propia línea */
  background-color: #28a745; /* Color verde para el botón */
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave para el efecto hover */
}

.btn-enviar-respuesta:hover {
  background-color: #1e7b31; /* Color verde más oscuro al pasar el ratón por encima */
}
